{
  "presets": [
    "react-native"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "assets": "./assets",
        "images": "./assets/images"
      }
    }]
  ]
}